/* ==========================================================================
# Woocommerce responsive style - begin
========================================================================== */
/* Woocommerce product list - begin
========================================================================== */
@media only screen and (max-width: 480px) {
  .mkdf-woocommerce-page .woocommerce-result-count,
  .mkdf-woocommerce-page .woocommerce-ordering {
    width: 100%;
    margin-bottom: 2%;
  }
}

@media only screen and (max-width: 480px) {
  .mkdf-woocommerce-page .woocommerce-result-count {
    text-align: center;
  }
}

@media only screen and (max-width: 480px) {
  .mkdf-woocommerce-page .woocommerce-ordering .orderby {
    display: block;
    float: none;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 1024px) {
  .mkdf-woocommerce-page.mkdf-woocommerce-columns-4 .products .product,
  .columns-4 .products .product {
    width: 50%;
  }
  .mkdf-woocommerce-page.mkdf-woocommerce-columns-4 .products .product:nth-child(4n+1),
  .columns-4 .products .product:nth-child(4n+1) {
    clear: none;
  }
  .mkdf-woocommerce-page.mkdf-woocommerce-columns-4 .products .product:nth-child(2n+1),
  .columns-4 .products .product:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 600px) {
  .mkdf-woocommerce-page.mkdf-woocommerce-columns-4 .products .product,
  .columns-4 .products .product {
    width: 100%;
  }
}

@media only screen and (max-width: 1024px) {
  .mkdf-woocommerce-page.mkdf-woocommerce-columns-4 .mkdf-woocommerce-with-sidebar .products .product {
    width: 50%;
  }
  .mkdf-woocommerce-page.mkdf-woocommerce-columns-4 .mkdf-woocommerce-with-sidebar .products .product:nth-child(3n+1), .mkdf-woocommerce-page.mkdf-woocommerce-columns-4 .mkdf-woocommerce-with-sidebar .products .product:nth-child(4n+1) {
    clear: none;
  }
  .mkdf-woocommerce-page.mkdf-woocommerce-columns-4 .mkdf-woocommerce-with-sidebar .products .product:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 768px) {
  .mkdf-woocommerce-page.mkdf-woocommerce-columns-4 .mkdf-woocommerce-with-sidebar .products .product {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .mkdf-woocommerce-page.mkdf-woocommerce-columns-3 .products .product,
  .columns-3 .products .product {
    width: 50%;
  }
  .mkdf-woocommerce-page.mkdf-woocommerce-columns-3 .products .product:nth-child(3n+1), .mkdf-woocommerce-page.mkdf-woocommerce-columns-3 .products .product:nth-child(4n+1),
  .columns-3 .products .product:nth-child(3n+1),
  .columns-3 .products .product:nth-child(4n+1) {
    clear: none;
  }
  .mkdf-woocommerce-page.mkdf-woocommerce-columns-3 .products .product:nth-child(2n+1),
  .columns-3 .products .product:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 600px) {
  .mkdf-woocommerce-page.mkdf-woocommerce-columns-3 .products .product,
  .columns-3 .products .product {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .mkdf-woocommerce-page.mkdf-woocommerce-columns-3 .mkdf-woocommerce-with-sidebar .products .product {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .mkdf-woocommerce-page.mkdf-woocommerce-columns-2 .products .product,
  .columns-2 .products .product {
    width: 100%;
  }
}

/* Woocommerce product list - end
========================================================================== */
/* Woocommerce single product - begin
========================================================================== */
@media only screen and (max-width: 768px) {
  .single-product .mkdf-single-product-images,
  .single-product .mkdf-single-product-summary {
    width: 100%;
    margin: 0;
  }
}

@media only screen and (max-width: 1400px) {
  .single-product .mkdf-tabs.mkdf-horizontal .mkdf-tabs-nav {
    top: 0;
  }
  .single-product .mkdf-tabs.mkdf-horizontal .mkdf-tabs-nav li {
    margin-right: 0;
    border-bottom: none;
    border-right: 1px solid #eee;
    float: none;
    width: 100%;
  }
  .single-product .mkdf-tabs.mkdf-horizontal .mkdf-tab-container {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  .single-product .mkdf-tabs.mkdf-horizontal li {
    float: none !important;
    display: block;
  }
  .single-product .mkdf-tabs.mkdf-horizontal li.ui-state-active a:after {
    content: none;
  }
  .single-product .mkdf-tabs.mkdf-horizontal .mkdf-tabs-shadow {
    display: none;
  }
}

/* Woocommerce single product - end
========================================================================== */
/* Woocommerce quantity buttons - begin
========================================================================== */
@media only screen and (max-width: 600px) {
  .mkdf-woocommerce-page .mkdf-quantity-buttons .mkdf-quantity-minus,
  .mkdf-woocommerce-page .mkdf-quantity-buttons .mkdf-quantity-plus,
  .mkdf-woocommerce-page .mkdf-quantity-buttons .mkdf-quantity-input {
    width: 22px;
    height: 22px;
    line-height: 22px;
  }
}

/* Woocommerce quantity buttons - end
========================================================================== */
/* Woocommerce table - begin
========================================================================== */
@media only screen and (max-width: 600px) {
  .mkdf-woocommerce-page table td {
    padding: 5px 5px;
  }
}

@media only screen and (max-width: 480px) {
  .mkdf-woocommerce-page td.product-thumbnail img {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .mkdf-woocommerce-page td.actions .coupon,
  .mkdf-woocommerce-page td.actions .mkdf-cart-proceed-update {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .mkdf-woocommerce-page td.actions .mkdf-cart-proceed-update .checkout-button {
    float: left;
  }
}

@media only screen and (max-width: 768px) {
  .mkdf-woocommerce-page .coupon input[type="text"] {
    width: 150px;
  }
}

/* Woocommerce table - end
========================================================================== */
/* Woocommerce shipping calculator - begin
========================================================================== */
@media only screen and (max-width: 600px) {
  .mkdf-woocommerce-page .mkdf-shipping-calculator {
    width: 100%;
    margin-bottom: 25px;
  }
}

/* Woocommerce shipping calculator - end
========================================================================== */
/* Woocommerce totals - begin
========================================================================== */
@media only screen and (max-width: 600px) {
  .mkdf-woocommerce-page .mkdf-cart-totals {
    width: 100%;
  }
}

/* Woocommerce totals - end
========================================================================== */
/* Woocommerce checkout - begin
========================================================================== */
@media only screen and (max-width: 768px) {
  .woocommerce-checkout .woocommerce-checkout .col-1,
  .woocommerce-checkout .woocommerce-checkout .col-2 {
    width: 100%;
  }
}

.woocommerce-checkout .checkout_coupon {
  width: 100%;
}

/* Woocommerce checkout - end
========================================================================== */
/* Woocommerce cart - begin
========================================================================== */
@media only screen and (max-width: 768px) {
  .woocommerce-cart .woocommerce form:not(.woocommerce-shipping-calculator) {
    margin-left: -1000px;
    margin-right: -1000px;
    padding-left: 1000px;
    padding-right: 1000px;
  }
  .woocommerce-cart .woocommerce form:not(.woocommerce-shipping-calculator) .actions .coupon input[type=text] {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
  .woocommerce-cart .woocommerce form:not(.woocommerce-shipping-calculator) .actions .mkdf-cart-proceed-update a {
    margin-bottom: 10px;
  }
  .woocommerce-cart .woocommerce .cart-collaterals .mkdf-shipping-calculator,
  .woocommerce-cart .woocommerce .cart-collaterals .mkdf-cart-totals {
    float: none;
    width: 100%;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .woocommerce-cart .woocommerce form:not(.woocommerce-shipping-calculator) table .product-thumbnail {
    display: none;
  }
  .woocommerce-cart .woocommerce form:not(.woocommerce-shipping-calculator) table .product-remove {
    display: none;
  }
  .woocommerce-cart .woocommerce form:not(.woocommerce-shipping-calculator) .actions .coupon,
  .woocommerce-cart .woocommerce form:not(.woocommerce-shipping-calculator) .actions .mkdf-cart-proceed-update {
    width: 100%;
    float: none;
  }
  .woocommerce-cart .woocommerce form:not(.woocommerce-shipping-calculator) .actions .coupon {
    margin-bottom: 10px;
  }
}

/* Woocommerce dropdown cart - begin
========================================================================== */
@media only screen and (max-width: 1024px) {
  .mkdf-shopping-cart-outer:hover .mkdf-shopping-cart-dropdown {
    display: none;
    visibility: hidden;
  }
  .mkdf-top-bar .mkdf-shopping-cart-outer {
    float: none;
  }
}

@media only screen and (max-width: 320px) {
  .mkdf-shopping-cart-outer {
    display: none;
  }
}

/* Woocommerce dropdown cart - begin
========================================================================== */
/* ==========================================================================
# Woocommerce responsive style - end
========================================================================== */

/*# sourceMappingURL=woocommerce-responsive.css.map */