/*
//used in trax
.improve-font-rendering(){
  -webkit-font-smoothing: antialiased;
  text-shadow: 0px 0px 0px;
  //-webkit-text-stroke: 0.3px;
  //-webkit-text-stroke: 0.2px;
}
*/
.optimize {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: visible;
}
.optimize-02 {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
}
.add-translate-z {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
.improve-fonts-02 {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
.improve-fonts-03 {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.add-weight {
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.2);
}
.space10 {
  height: 10px;
}
.space15 {
  height: 15px;
}
.space20 {
  height: 20px;
}
.space30 {
  height: 30px;
}
.space40 {
  height: 40px;
}
.space50 {
  height: 50px;
}
.space60 {
  height: 60px;
}
.space70 {
  height: 70px;
}
.space80 {
  height: 80px;
}
.space90 {
  height: 90px;
}
.space100 {
  height: 100px;
}
.fontsize10 {
  font-size: 10px;
}
.fontsize11 {
  font-size: 11px;
}
.fontsize12 {
  font-size: 12px;
}
.fontsize13 {
  font-size: 13px;
}
.fontsize14 {
  font-size: 14px;
}
.fontsize16 {
  font-size: 16px;
}
.fontsize18 {
  font-size: 18px;
}
.fontsize20 {
  font-size: 20px;
}
.fontsize98 {
  font-size: 98px;
  line-height: 98px;
}
body {
  font-size: 15px;
}
.fit-text {
  margin-right: -50px;
}
.custom-hidden {
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
}
.mkdf-breadcrumbs-inner a {
  color: #008b9b;
}
.mkdf-breadcrumbs-inner .arrow_right:before {
  content: "\45" !important;
}
.Deploy-button,
.Deploy-button {
  background: #008b9b !important;
  border: 2px solid #008b9b !important;
}
.Deploy-button:hover,
.Deploy-button:hover {
  /*
  color: @dark-blue !important;
  border: 2px solid @dark-blue !important;
  background: transparent !important;
  */
  color: #008b9b !important;
  border: 2px solid #ffffff !important;
  background: #ffffff !important;
}
.mkdf-btn.mkdf-btn-solid.custon-deploy-button {
  background: #008b9b !important;
  border: 2px solid #008b9b !important;
}
.mkdf-btn.mkdf-btn-solid.custon-deploy-button:hover {
  color: #008b9b !important;
  border: 2px solid #008b9b !important;
  background: #ffffff !important;
}
.mkdf-btn.mkdf-btn-solid.custon-deploy-button.full-width {
  width: 100%;
  text-align: center;
}
/*
.extra-cta-column{
  text-align: right;
}
*/
.core-services-first-copy-column {
  padding-right: 20px;
}
.sticky-wrapper {
  position: fixed;
  z-index: 160000;
}
.zopim:nth-of-type(1) {
  right: auto!important;
  left: -75px !important;
  top: 45%!important;
  -webkit-transform: rotate(90deg) !important;
  -moz-transform: rotate(90deg) !important;
  -o-transform: rotate(90deg) !important;
  -ms-transform: rotate(90deg) !important;
  transform: rotate(90deg) !important;
}
.zopim:nth-of-type(2) {
  right: auto!important;
  left: 0px!important;
  top: 30%!important;
}
body.custom-zopim-visible .zopim {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
}
body.custom-zopim-visible .zopim:nth-of-type(1) {
  right: auto!important;
  left: -75px !important;
  top: 45%!important;
  -webkit-transform: rotate(90deg) !important;
  -moz-transform: rotate(90deg) !important;
  -o-transform: rotate(90deg) !important;
  -ms-transform: rotate(90deg) !important;
  transform: rotate(90deg) !important;
}
body.custom-zopim-visible .zopim:nth-of-type(2) {
  right: auto!important;
  left: 0px!important;
  top: 30%!important;
}
@media only screen and (max-width: 991px) {
  .zopim {
    display: none !important;
  }
}
#mkdf-back-to-top {
  display: none !important;
}
select::-ms-expand {
  display: none;
}
header.mkdf-page-header .mkdf-menu-area {
  height: 65px;
}
.mkdf-content {
  margin-top: 0px !important;
}
header.mkdf-page-header .mkdf-menu-area .mkdf-vertical-align-containers {
  padding: 0;
}
header.mkdf-page-header .mkdf-menu-area .mkdf-vertical-align-containers > .mkdf-position-left {
  width: 50%;
  padding-left: 20px;
}
header.mkdf-page-header .mkdf-menu-area .mkdf-vertical-align-containers > .mkdf-position-left.mkdf-header-standard-menu-holder {
  width: 100%;
  text-align: center;
  background: #008b9b;
  height: 40px;
}
header.mkdf-page-header .mkdf-menu-area .mkdf-vertical-align-containers > .mkdf-position-right {
  width: 50%;
  position: absolute;
  right: 0;
  padding-right: 20px;
}
.mkdf-header-standard-menu-holder .mkdf-drop-down {
  position: static!important;
}
.mkdf-header-standard-menu-holder .mkdf-drop-down ul {
  position: static!important;
}
.mkdf-header-standard-menu-holder .mkdf-drop-down ul li {
  position: static!important;
}
.mkdf-header-standard-menu-holder .mkdf-drop-down .second {
  top: calc(100%);
  width: 100%!important;
  left: 0px!important;
}
.mkdf-header-standard-menu-holder .mkdf-drop-down .second .inner > ul {
  width: 100%!important;
  text-align: center!important;
}
.mkdf-header-standard-menu-holder .mkdf-drop-down .second .inner > ul li.menu-item-has-children {
  display: inline-block !important;
  width: 16%!important;
  float: none!important;
}
.mkdf-main-menu > ul > li > a {
  color: #ffffff !important;
}
.mkdf-main-menu > ul > li:hover > a,
.mkdf-main-menu > ul > li.mkdf-active-item > a {
  color: #b1cfd4 !important;
}
#custom-right-header {
  position: relative;
  top: 4px;
}
#custom-right-header .menu-item .item_inner {
  padding: 0;
  padding-left: 49px;
}
#custom-right-header .menu-item a {
  color: #008b9b !important;
}
#custom-right-header .menu-item a .item_text {
  color: #008b9b !important;
}
#custom-right-header div.second .menu-item .item_inner {
  padding: 0;
  padding-left: 49px;
}
#custom-right-header div.second .menu-item a {
  color: #fff !important;
}
#custom-right-header div.second .menu-item a .item_text {
  color: #fff !important;
}
.mkdf-header-standard .mkdf-menu-area .mkdf-right-from-main-menu-widget {
  display: none;
}
#custom-right-header-signin {
  position: relative;
}
#custom-right-header-signin-box {
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
  visibility: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 40px;
  right: -86px;
  width: 220px;
  height: 210px;
  font-family: "Open Sans", serif;
  font-size: 13px;
  line-height: 18px;
  color: #f7f5f2;
  padding: 1.125em;
  border-radius: 5px;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.25);
  background: #6d6e70;
  text-align: center;
}
#custom-right-header-signin-box * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#custom-right-header-signin-box:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  content: '';
  border-top: 0;
  border-right: 7px solid transparent;
  border-bottom: .5em solid #6d6e70;
  border-left: 7px solid transparent;
  position: absolute;
  top: -6px;
  right: 105px;
}
#custom-right-header-signin-box form {
  display: block;
}
#custom-right-header-signin-box a#forgot-password-link {
  display: block;
  margin-top: 19px;
  color: #ffffff !important;
}
#custom-right-header-signin-box a#forgot-password-link:hover {
  color: #b1cfd4 !important;
}
#custom-right-header-signin-box .signin-input,
#custom-right-header-signin-box .input {
  font-family: "Open Sans", serif;
  font-size: 13px;
  line-height: 18px;
  color: #6d6e70;
  background: #fff;
  width: 100%;
  margin: 0;
  margin-bottom: 1em;
  padding: .5em;
  border: 1px solid #d6d6d6;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: block;
}
#custom-right-header-signin-box .tp-caption.Deploy-button,
#custom-right-header-signin-box .Deploy-button,
#custom-right-header-signin-box #wp-submit {
  background: #008b9b !important;
  border: 2px solid #008b9b !important;
  display: block;
  width: 100%;
  text-align: center;
  border-radius: 30px 30px 30px 30px;
  cursor: pointer;
  color: #ffffff;
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
  font-style: normal;
  font-family: Montserrat;
  padding: 13px 36px 13px 36px;
  outline: none !important;
  box-shadow: none !important;
  text-decoration: none !important;
}
#custom-right-header-signin-box .tp-caption.Deploy-button:hover,
#custom-right-header-signin-box .Deploy-button:hover,
#custom-right-header-signin-box #wp-submit:hover {
  /*
    color: @dark-blue !important;
    border: 2px solid @dark-blue !important;
    background: transparent !important;
    */
  color: #008b9b !important;
  border: 2px solid #ffffff !important;
  background: #ffffff !important;
}
.mkdf-header-standard-menu-holder {
  float: right !important;
}
.mkdf-main-menu a[title="hidden"] {
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
}
.mkdf-main-menu a[title="hidden-02"] {
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
  height: 0 !important;
  padding: 0 !important;
  overflow: hidden;
}
.mkdf-page-header .mkdf-sticky-header .mkdf-vertical-align-containers .mkdf-position-left {
  width: 100%;
}
.mkdf-page-header .mkdf-sticky-header .mkdf-vertical-align-containers .mkdf-position-left:before {
  display: none;
}
.mkdf-page-header .mkdf-sticky-header .mkdf-vertical-align-containers .mkdf-position-left .mkdf-position-left-inner {
  width: 100%;
}
.mkdf-page-header .mkdf-sticky-header .mkdf-logo-wrapper {
  position: absolute;
  top: 50%;
  margin-top: -15px;
}
.mkdf-page-header .mkdf-sticky-header .mkdf-sticky-nav {
  float: right !important;
}
@media only screen and (max-width: 1400px) {
  .mkdf-page-header .mkdf-sticky-header .mkdf-sticky-nav .item_inner {
    padding: 0 30px 0 0;
  }
}
@media only screen and (max-width: 1200px) {
  .mkdf-page-header .mkdf-sticky-header .mkdf-sticky-nav .item_inner {
    padding: 0 20px 0 0;
  }
}
.mkdf-mobile-header .mkdf-mobile-logo-wrapper img {
  width: auto;
  height: auto;
}
footer .mkdf-footer-top-holder {
  padding-top: 10px;
  padding-bottom: 13px;
  background: #008b9b;
}
footer .mkdf-footer-bottom-holder {
  /*
  padding-top: 0px;
  padding-bottom: 10px;
  background: @white;
  */
  display: none;
}
/*
footer .mkdf-footer-top .mkdf-four-columns .mkdf-column, 
footer .mkdf-footer-top .mkdf-three-columns .mkdf-column, 
footer .mkdf-footer-top .mkdf-two-columns-50-50 .mkdf-column{
  border-left: 1px solid @white;
}
footer .mkdf-footer-top .mkdf-column:first-child{
  border: none;
}
*/
footer .mkdf-footer-top .mkdf-four-columns .mkdf-column,
footer .mkdf-footer-top .mkdf-three-columns .mkdf-column,
footer .mkdf-footer-top .mkdf-two-columns-50-50 .mkdf-column {
  border: none;
}
footer .widget .mkdf-icon-list-item {
  margin-bottom: 0px !important;
}
footer .widget .mkdf-icon-list-item:hover p {
  color: #b1cfd4 !important;
}
.mkdf-icon-list-item:hover .mkdf-icon-list-icon-holder-inner .mkdf-icon-list-item-icon-elem {
  color: #b1cfd4 !important;
}
.mkdf-footer-column-1 {
  padding-top: 15px;
}
#custom-footer-additional-links {
  padding-top: 6px;
  text-align: right;
}
#custom-footer-additional-links ul {
  font-size: 0;
}
#custom-footer-additional-links ul li {
  padding: 0;
  border: 0;
  outline: 0;
  margin-right: 30px;
  display: inline-block;
  vertical-align: top;
  *display: inline;
  zoom: 1;
}
#custom-footer-additional-links ul li:last-child {
  margin-right: 0;
}
#custom-footer-additional-links ul li a {
  color: #ffffff;
  font-family: 'Open Sans', serif;
  font-size: 15px;
  line-height: 26px;
}
#custom-footer-additional-links ul li a:hover {
  color: #b1cfd4;
}
@media only screen and (max-width: 991px) {
  footer .mkdf-footer-top-holder {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
    padding-bottom: 23px;
    font-size: 15px !important;
  }
  footer .widget .mkdf-icon-list-item {
    margin-bottom: 20px!important;
  }
  footer .mkdf-footer-column-1 {
    margin-bottom: 0px !important;
    text-align: center;
  }
  footer .mkdf-footer-top .mkdf-two-columns-50-50 .mkdf-column {
    padding-left: 0;
    padding-right: 0;
  }
  /*
  footer .mkdf-footer-top .mkdf-four-columns .mkdf-column, 
  footer .mkdf-footer-top .mkdf-three-columns .mkdf-column, 
  footer .mkdf-footer-top .mkdf-two-columns-50-50 .mkdf-column{
    border: none;
  }
  */
  .copyright-span {
    font-size: 11px !important;
    margin-bottom: -17px;
    display: block;
  }
  #custom-footer-additional-links {
    margin-left: -10px;
    margin-right: -10px;
  }
  #custom-footer-additional-links ul {
    text-align: center;
  }
  #custom-footer-additional-links ul li {
    margin-right: 0;
    padding: 0 6px;
  }
  #custom-footer-additional-links ul li a {
    font-size: 11px !important;
  }
}
.custom-form-message {
  width: 100%;
  margin-bottom: 30px;
  padding: 15px;
  outline: 0;
  font-family: "Open Sans", serif;
  font-size: 12px;
  color: #767676;
  border: 1px solid transparent;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color 0.2s ease-out;
  transition: border-color 0.2s ease-out;
  resize: none;
}
.custom-submit-class,
.uploadifive-button {
  color: #ffffff!important;
  background-image: none!important;
  background-color: #008b9b !important;
  font-size: 14px!important;
  line-height: 1.7em!important;
  height: 42px!important;
  font-family: Montserrat!important;
  font-style: normal!important;
  font-weight: 700!important;
  text-transform: none!important;
  letter-spacing: 0px!important;
  border-width: 2px!important;
  border-radius: 30px!important;
  cursor: pointer;
  padding: 6px 30px;
  border: 2px solid #08c!important;
  border-color: #008b9b !important;
  display: inline-block;
  position: relative!important;
  outline: 0;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  -webkit-appearance: none;
  margin-top: 7px;
}
.custom-submit-class:hover,
.uploadifive-button:hover {
  color: #008b9b;
  background-color: #ffffff;
  border-color: #ffffff;
}
.custom-submit-class.custom-submit-class-2,
.uploadifive-button.custom-submit-class-2 {
  width: 200px;
  height: 30px;
  margin-top: 15px;
  padding: 0px 20px;
  display: block;
}
.custom-submit-class.custom-submit-class-2:last-child,
.uploadifive-button.custom-submit-class-2:last-child {
  margin-top: 0px;
}
.edit-btn-container {
  position: relative;
  text-align: right;
}
.upload-btn-container {
  position: relative;
  text-align: right;
}
.upload-btn-container .files {
  position: absolute;
  left: -185px;
  top: 12px;
}
.add-more {
  display: block;
}
.header,
.sort-btns {
  vertical-align: middle;
  cursor: pointer;
}
.sortable-header {
  text-decoration: underline;
}
.sort-btns {
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  margin: 0 0 0 8px;
}
.sort-btns .fa {
  display: block;
  font-size: 15px;
  line-height: 10px;
  cursor: pointer;
}
#signuppage-signup-form-row {
  padding-bottom: 70px;
}
#signup_form .intl-tel-input {
  width: 100%;
}
#signup_form .intl-tel-input .flag-container {
  padding: 0px;
}
#signup_form .intl-tel-input .selected-flag {
  width: 80px;
  height: 48px;
  padding-left: 24px;
}
#signup_form .intl-tel-input .selected-flag .iti-arrow {
  right: 18px;
}
#signup_form .intl-tel-input input {
  padding-left: 95px!important;
}
#signup_form select,
#signup_form input[type=text] {
  width: 100%;
  padding: 15px;
  outline: 0;
  font-family: "Open Sans", serif;
  border: 1px solid transparent;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color 0.2s ease-out;
  transition: border-color 0.2s ease-out;
  resize: none;
  color: #767676;
  font-size: 12px;
  line-height: 22px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 400;
  text-transform: none;
  letter-spacing: 0px;
  background-color: #ffffff;
  border-color: #ffffff;
  border-width: 1px;
  border-radius: 6px;
  padding-top: 12px;
  padding-right: 24px;
  padding-bottom: 12px;
  padding-left: 24px;
  margin-top: 0px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  /*
    width: 100%;
    margin-bottom: 30px;
    padding: 15px;
    outline: 0;
    font-family: "Open Sans",serif;
    font-size: 12px;
    color: #767676;
    border: 1px solid transparent;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: border-color .2s ease-out;
    transition: border-color .2s ease-out;
    resize: none;
    margin-bottom: 12px;
    */
}
#signup_form select.not-visible,
#signup_form input[type=text].not-visible {
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
  display: inline-block;
  vertical-align: top;
  *display: inline;
  zoom: 1;
}
#signup_form select.placeholder,
#signup_form input[type=text].placeholder {
  color: #a9a9a9;
}
#signup_form select option,
#signup_form input[type=text] option {
  color: #767676;
}
#signup_form .bp-required-field-label {
  display: none;
}
#signup_form .field_work-telephone,
#signup_form .field_home-telephone,
#signup_form .field_home-address,
#signup_form .field_home-address-2,
#signup_form .field_home-address-3,
#signup_form .field_home-address-4,
#signup_form .field_home-address-5,
#signup_form .field_home-address-6,
#signup_form .field_postal-address,
#signup_form .field_postal-address-2,
#signup_form .field_postal-address-3,
#signup_form .field_postal-address-4,
#signup_form .field_postal-address-5,
#signup_form .field_postal-address-6,
#signup_form .field_nationality,
#signup_form .field_date-of-birth {
  display: none;
}
.error-container {
  margin-bottom: 20px;
  color: red;
}
#signuppage-signup-form-row .mkdf-two-columns-50-50 > .mkdf-two-columns-50-50-inner {
  margin: 0 -6px;
}
#signuppage-signup-form-row .mkdf-two-columns-50-50 .mkdf-column .mkdf-column-inner {
  padding: 0 6px;
}
#ui-datepicker-div {
  z-index: 1000!important;
}
#profile-edit-form .field_home-address-2 label,
#profile-edit-form .field_home-address-3 label,
#profile-edit-form .field_home-address-4 label,
#profile-edit-form .field_home-address-5 label,
#profile-edit-form .field_home-address-6 label,
#profile-edit-form .field_postal-address-2 label,
#profile-edit-form .field_postal-address-3 label,
#profile-edit-form .field_postal-address-4 label,
#profile-edit-form .field_postal-address-5 label,
#profile-edit-form .field_postal-address-6 label {
  visibility: hidden;
  margin-top: -20px;
}
#profile-edit-form .field_nationality input,
#profile-edit-form .field_postal-address-6 input,
#profile-edit-form .field_home-address-6 input {
  display: none;
}
/*
#respond input[type=text], 
#respond textarea, 
.mkdf-content .searchform input[type=search], .mkdf-content .searchform input[type=text], .post-password-form input[type=password], .widget_product_search .searchform input[type=search], .widget_product_search .searchform input[type=text], .widget_search .searchform input[type=search], .widget_search .searchform input[type=text], .wpcf7-form-control.wpcf7-date, .wpcf7-form-control.wpcf7-number, .wpcf7-form-control.wpcf7-quiz, .wpcf7-form-control.wpcf7-select, .wpcf7-form-control.wpcf7-text, .wpcf7-form-control.wpcf7-textarea
*/
.field-container {
  margin-bottom: 18px;
  position: relative;
}
.field-container .error {
  display: block;
  color: red;
}
.field-container #mobile-telephone {
  visibility: hidden;
  position: absolute;
}
.field-container .country-options-container {
  width: 100%;
}
.field-container .country-options-container .col-1-header,
.field-container .country-options-container .col-2-header,
.field-container .country-options-container .col-3-header,
.field-container .country-options-container .col-1,
.field-container .country-options-container .col-2,
.field-container .country-options-container .col-3 {
  display: inline-block;
  width: 32%;
  vertical-align: top;
}
.field-container .country-options-container .col-1-header .price,
.field-container .country-options-container .col-2-header .price,
.field-container .country-options-container .col-3-header .price,
.field-container .country-options-container .col-1 .price,
.field-container .country-options-container .col-2 .price,
.field-container .country-options-container .col-3 .price {
  padding-top: 0px;
}
.field-container .price {
  padding-top: 11px;
}
.reg_complete {
  color: red;
  margin-bottom: 20px;
}
.reg_complete a {
  color: #008b9b;
}
.stepwizard-step p {
  margin-top: 10px;
  position: absolute;
  top: 80px;
  width: 210px;
  left: 5px;
}
.stepwizard-row {
  display: table-row;
}
.stepwizard {
  display: table;
  width: 100%;
  position: relative;
}
.stepwizard .stepwizard-step button[disabled] {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}
.stepwizard .stepwizard-row:before {
  top: 21px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 100%;
  height: 1px;
  z-order: 0;
}
.stepwizard .stepwizard-step {
  width: 14.5%;
  margin-right: 100px;
  display: inline-block;
  text-align: left;
  position: relative;
  color: grey;
}
.stepwizard .stepwizard-step:nth-of-type(1) p,
.stepwizard .stepwizard-step:nth-of-type(3) p {
  left: 0px;
}
.stepwizard .stepwizard-step:nth-of-type(2) p {
  left: -40px;
}
.stepwizard .stepwizard-step:last-child {
  margin-right: 0px;
}
.stepwizard .stepwizard-step:last-child:before {
  display: none;
}
.stepwizard .stepwizard-step:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f105";
  display: block;
  font-size: 30px;
  line-height: 40px;
  color: #3576ba;
  text-align: center;
  position: absolute;
  margin-left: -10px;
  margin-top: -20px;
  right: -60px;
  top: 50%;
  width: 40px;
  height: 40px;
}
.stepwizard .stepwizard-step.active-step {
  color: #008b9b;
}
.stepwizard .stepwizard-step button {
  border: none;
  width: 80px;
  height: 90px;
}
.stepwizard .stepwizard-step:nth-of-type(1) button {
  background: url("http://clients.manic.com.sg/offshore/wp-content/uploads/2016/01/Offshore_Icon-01.png") no-repeat;
  background-size: contain;
}
.stepwizard .stepwizard-step:nth-of-type(2) button {
  background: url("http://clients.manic.com.sg/offshore/wp-content/uploads/2016/01/Offshore_Icon-02.png") no-repeat;
  background-size: contain;
}
.stepwizard .stepwizard-step:nth-of-type(3) button {
  background: url("http://clients.manic.com.sg/offshore/wp-content/uploads/2016/01/Offshore_Icon-03.png") no-repeat;
  background-size: contain;
}
.stepwizard .stepwizard-step:nth-of-type(4) button {
  background: url("http://clients.manic.com.sg/offshore/wp-content/uploads/2016/01/Offshore_Icon-04.png") no-repeat;
  background-size: contain;
}
label {
  display: block;
}
label.checkbox-label,
label.country_options_label {
  display: inline-block;
  vertical-align: middle;
}
label.country_options_label {
  margin-right: 90px;
}
.ip_address {
  text-align: right;
}
.reg-step {
  display: none;
}
.reg-step .add-more {
  font-family: "Open Sans", serif;
  font-size: 12px;
  color: #767676;
  text-align: right;
}
.active {
  display: block!important;
}
.hide-step-indicators {
  display: none;
}
#registration-page-form .field-container a {
  display: inline-block;
  margin-right: 10px;
}
label.align-label {
  padding-top: 7px;
}
.nominee-container.hidden {
  display: none;
}
input.error::-webkit-input-placeholder {
  color: red!important;
}
input.error:-moz-placeholder {
  color: red!important;
}
input.error::-moz-placeholder {
  color: red!important;
}
input.error:-ms-input-placeholder {
  color: red!important;
}
#registration-page-form-1-1 ul,
#registration-page-form-1-2 ul {
  display: inline-block;
  vertical-align: top;
}
#registration-page-form-1-1 ul li,
#registration-page-form-1-2 ul li {
  list-style: none;
}
#registration-page-form-1-1 input[type="radio"],
#registration-page-form-1-2 input[type="radio"] {
  display: inline-block;
}
#registration-page-form-1-1 .field-container,
#registration-page-form-1-2 .field-container {
  margin-bottom: 0px;
}
#registration-page-form-1-1 .each-header,
#registration-page-form-1-2 .each-header,
#registration-page-form-1-1 .each-content,
#registration-page-form-1-2 .each-content {
  display: inline-block;
  vertical-align: middle;
  width: 24%;
}
#registration-page-form-1-1 .each-header,
#registration-page-form-1-2 .each-header {
  margin-bottom: 5px;
}
#registration-page-form-1-1 .each-content,
#registration-page-form-1-2 .each-content {
  margin-bottom: 15px;
}
#registration-page-form-1-1 .each-content:last-child,
#registration-page-form-1-2 .each-content:last-child {
  width: 26.3%;
  text-align: right;
}
#registration-page-form-1-1 .custom-submit-class,
#registration-page-form-1-2 .custom-submit-class {
  margin-top: 0px;
}
#registration-page-form-1-1 input#new-incorporation {
  display: none;
}
#registration-page-form-2 .intl-tel-input {
  width: 100%;
}
#registration-page-form-2 .intl-tel-input.allow-dropdown .selected-flag {
  width: 80px;
  padding-left: 24px;
}
#registration-page-form-2 .intl-tel-input.allow-dropdown .selected-flag .iti-arrow {
  right: 20px;
}
#registration-page-form-2 .intl-tel-input.allow-dropdown input[type=text],
#registration-page-form-2 .intl-tel-input.allow-dropdown input[type=tel] {
  padding-left: 95px;
}
#registration-page-form-3 input[type="checkbox"] {
  display: inline-block;
}
#registration-page-form-3 input:disabled {
  background-color: #dddddd;
  border-color: #bfbfbf;
}
#registration-page-form-4 .go-step-2 {
  display: none;
}
#registration-page-form-4 p.error,
#registration-page-form-4 label.error {
  color: red!important;
}
#registration-page-form-4 label#tnc-error,
#registration-page-form-4 label#company_name_choice_3-error,
#registration-page-form-4 #company_name_choice_2-error,
#registration-page-form-4 #company_name_choice_1-error {
  margin-left: 10px;
}
#registration-page-form-4 .half-field-container {
  width: 70%;
}
#registration-page-form-4 .half-field-container-2 {
  width: 76%;
}
#registration-page-form-4 label {
  display: inline-block;
  width: 165px;
}
#registration-page-form-4 input,
#registration-page-form-4 select,
#registration-page-form-4 .custom-input-class-select-container {
  display: inline-block;
  width: 300px;
}
#registration-page-form-4 input[type=checkbox] {
  width: auto;
}
#registration-page-form-4 label[for=tnc] {
  width: auto;
}
#registration-page-form-4 .small-input {
  width: 250px;
  display: inline-block;
}
#registration-page-form-4 .small-input-2 {
  width: 50px;
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
}
#registration-page-form-4 .one-row {
  display: block;
}
#registration-page-form-4 .route-specific-summary {
  display: none;
}
#registration-page-form-4 .field-container {
  margin-bottom: 0px;
}
#registration-page-form-4 .edit-form {
  display: none;
}
#registration-page-form-4 .col-1 {
  width: 41%;
}
#registration-page-form-4 .col-2 {
  width: 35%;
}
#registration-page-form-4 .col-2 .person-info {
  text-align: left;
}
#registration-page-form-4 .upload-col-container {
  width: 24%;
}
#registration-page-form-4 .ajax-file-upload {
  background: none;
}
#registration-page-form-4 .ajax-file-upload-container {
  position: absolute;
}
#registration-page-form-4 .custom-submit-class-2 {
  width: 166px;
  margin-top: 5px;
}
#registration-page-form-4 .nominee-cta-container,
#registration-page-form-4 .service-cta-container {
  margin: 0 auto;
  text-align: right;
}
#registration-page-form-4 .nominee-cta-container button,
#registration-page-form-4 .service-cta-container button {
  display: inline-block;
}
#registration-page-form-4 .service-cta-container button {
  margin-left: 15px;
}
#registration-page-form-4 .text-container {
  text-align: center;
}
#registration-page-form-4 #summarydirector,
#registration-page-form-4 #summarysecretary,
#registration-page-form-4 #summaryshareholder {
  position: relative;
}
#registration-page-form-4 #summarydirector #nominee_shareholder_annual_fee,
#registration-page-form-4 #summarysecretary #nominee_shareholder_annual_fee,
#registration-page-form-4 #summaryshareholder #nominee_shareholder_annual_fee,
#registration-page-form-4 #summarydirector #nominee_director_annual_fee,
#registration-page-form-4 #summarysecretary #nominee_director_annual_fee,
#registration-page-form-4 #summaryshareholder #nominee_director_annual_fee,
#registration-page-form-4 #summarydirector #nominee_secretary_annual_fee,
#registration-page-form-4 #summarysecretary #nominee_secretary_annual_fee,
#registration-page-form-4 #summaryshareholder #nominee_secretary_annual_fee {
  visibility: hidden;
  position: absolute;
}
#registration-page-form-4 #summarydirector #nominee_director_annual_fee-error,
#registration-page-form-4 #summarysecretary #nominee_director_annual_fee-error,
#registration-page-form-4 #summaryshareholder #nominee_director_annual_fee-error,
#registration-page-form-4 #summarydirector #nominee_secretary_annual_fee-error,
#registration-page-form-4 #summarysecretary #nominee_secretary_annual_fee-error,
#registration-page-form-4 #summaryshareholder #nominee_secretary_annual_fee-error {
  width: 100%!important;
}
#registration-page-form-4 .shareholder-amount-input {
  margin: 0 auto;
}
.custom-input-container-left {
  width: 70%;
  margin-right: 20px;
}
.custom-input-container-right {
  width: 25%;
}
.custom-input-class,
.custom-input-class-2 {
  width: 100%;
  padding: 15px;
  outline: 0;
  font-family: "Open Sans", serif;
  border: 1px solid transparent;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color 0.2s ease-out;
  transition: border-color 0.2s ease-out;
  resize: none;
  color: #767676;
  font-size: 12px;
  line-height: 22px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 400;
  text-transform: none;
  letter-spacing: 0px;
  background-color: #ffffff;
  border-color: #ffffff;
  border-width: 1px;
  border-radius: 6px;
  padding-top: 12px;
  padding-right: 24px;
  padding-bottom: 12px;
  padding-left: 24px;
  margin-top: 0px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  /*
  width: 100%;
  margin-bottom: 30px;
  padding: 15px;
  outline: 0;
  font-family: "Open Sans",serif;
  font-size: 12px;
  color: #767676;
  border: 1px solid transparent;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color .2s ease-out;
  transition: border-color .2s ease-out;
  resize: none;
  margin-bottom: 12px;
  */
}
.custom-input-class.not-visible,
.custom-input-class-2.not-visible {
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
  display: inline-block;
  vertical-align: top;
  *display: inline;
  zoom: 1;
}
.custom-input-class.placeholder,
.custom-input-class-2.placeholder {
  color: #a9a9a9;
}
.custom-input-class option,
.custom-input-class-2 option {
  color: #767676;
}
.custom-input-class-2 {
  width: 49%;
  margin-right: 4px;
}
.custom-input-class-select-container {
  position: relative;
}
.custom-input-class-select-container:before {
  content: "";
  display: block;
  pointer-events: none;
  width: 0;
  height: 0;
  content: '';
  border-bottom: 0;
  border-right: 7px solid transparent;
  border-top: 0.5em solid #a9a9a9;
  border-left: 7px solid transparent;
  position: absolute;
  top: 50%;
  right: 15px;
  z-index: 6;
}
.custom-input-class-select-container.half {
  width: 50%;
  display: inline-block;
}
input.custom-input-class::-webkit-input-placeholder {
  color: #a9a9a9;
}
input.custom-input-class:-moz-placeholder {
  color: #a9a9a9;
}
input.custom-input-class::-moz-placeholder {
  color: #a9a9a9;
}
input.custom-input-class:-ms-input-placeholder {
  color: #a9a9a9;
}
body.home .forcefullwidth_wrapper_tp_banner {
  height: 420px !important;
}
body.home .rev_slider_wrapper {
  height: 420px !important;
}
body.home .rev_slider {
  height: 420px !important;
}
#homepage-icons-row {
  background: none!important;
}
#homepage-icons-row .owl-item {
  position: relative;
}
#homepage-icons-row .owl-item:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f105";
  display: block;
  font-size: 30px;
  line-height: 40px;
  color: #3576ba;
  text-align: center;
  position: absolute;
  margin-left: -10px;
  margin-top: -20px;
  right: -22px;
  top: 50%;
  width: 40px;
  height: 40px;
}
#homepage-icons-row .owl-item:last-child:before {
  display: none;
}
#homepage-icons-row .mkdf-info-card-slider .mkdf-info-card-front-side {
  padding-left: 0px;
  padding-right: 0px;
}
#homepage-icons-row .wpb_wrapper {
  text-align: left;
}
#homepage-icons-row .mkdf-info-card-slider .owl-wrapper-outer {
  padding-bottom: 0px;
}
#homepage-icons-row .mkdf-info-card-slider .mkdf-info-card-front-side {
  background: transparent !important;
  border: none !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  margin-bottom: 0px;
}
#homepage-icons-row .mkdf-info-card-slider .mkdf-info-card-front-side .mkdf-info-card-front-side-content {
  margin-bottom: 0px;
}
#homepage-icons-row .mkdf-info-card-slider .mkdf-info-card-front-side .mkdf-info-card-icon-holder {
  margin-bottom: 2px;
}
#homepage-icons-row .mkdf-info-card-slider .mkdf-info-card-front-side .mkdf-info-card-icon-holder img {
  zoom: 0.65;
}
#homepage-icons-row .mkdf-info-card-slider .mkdf-info-card-front-side .mkdf-info-card-front-side-content p {
  line-height: 18px;
}
#homepage-icons-row .mkdf-info-card-slider-item:after {
  display: none!important;
}
#homepage-icons-row .mkdf-info-card-slider {
  width: 100% !important;
  padding: 0;
}
#homepage-icons-row .wpb_wrapper .tp-caption.Deploy-button,
#homepage-icons-row .wpb_wrapper .Deploy-button {
  background: #008b9b !important;
  border: 2px solid #008b9b !important;
  padding: 13px 30px;
}
#homepage-icons-row .wpb_wrapper .tp-caption.Deploy-button:hover,
#homepage-icons-row .wpb_wrapper .Deploy-button:hover {
  color: #008b9b !important;
  background: #ffffff !important;
}
@media only screen and (max-width: 991px) {
  #homepage-icons-row .mkdf-info-card-slider {
    width: auto !important;
    padding: 0 25px;
  }
  #homepage-icons-row .owl-item:before {
    right: 10px;
  }
}
#homepage-core-services-01 .vc_col-sm-2 {
  width: 20%;
}
#homepage-core-services-01 .mkdf-blog-box-whole-content {
  padding: 0 !important;
}
#homepage-core-services-01 .mkdf-blog-box-whole-content .mkdf-boxes-item-title {
  margin-bottom: 0 !important;
}
#homepage-core-services-01 .mkdf-blog-box-whole-content .mkdf-boxes-item-title a {
  text-transform: none!important;
}
#homepage-core-services-01 .mkdf-blog-boxes-content-holder {
  padding-top: 2px;
  padding-bottom: 12px;
  padding-left: 21px;
}
#homepage-core-services-01 .mkdf-blog-boxes-content-holder h4 {
  font-size: 16px;
  line-height: 21px;
}
@media only screen and (max-width: 1400px) {
  #homepage-core-services-01 h4.mkdf-boxes-item-title a,
  #homepage-core-services-02 h4.mkdf-boxes-item-title a {
    font-size: 15px;
  }
}
@media only screen and (max-width: 1200px) {
  #homepage-core-services-01 h4.mkdf-boxes-item-title a,
  #homepage-core-services-02 h4.mkdf-boxes-item-title a {
    font-size: 12px;
  }
}
@media only screen and (max-width: 1024px) {
  #homepage-core-services-01 .mkdf-btn-small,
  #homepage-core-services-02 .mkdf-btn-small {
    display: none;
  }
}
@media only screen and (max-width: 991px) {
  #homepage-core-services-01 .vc_col-sm-2 {
    width: auto;
  }
  #homepage-core-services-01 .mkdf-blog-box-whole-content {
    margin-bottom: 30px;
  }
}
#homepage-why-version-03 {
  /*
  &:after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: @white;
    .opacity(0.5);
  }
  */
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin-left: 0px;
  margin-right: 0px;
  overflow: hidden;
}
#homepage-why-version-03 .homepage-why-column-version-04 {
  padding-left: 30px;
  padding-right: 30px;
}
#homepage-why-version-03 .homepage-why-column-version-05 .wpb_wrapper {
  z-index: 3;
  position: relative;
  margin-right: -18px;
}
#homepage-why-version-03 .homepage-why-column-version-05 .wpb_wrapper ul {
  padding-left: 18px;
}
#homepage-why-version-03 .homepage-why-column-version-05 .wpb_wrapper ul li {
  list-style-position: outside;
}
#homepage-why-version-03 .homepage-why-column-version-05 .wpb_wrapper ul li a:hover {
  color: #008b9b !important;
}
#homepage-why-version-03 .homepage-why-column-seperator {
  position: absolute;
  top: -30px;
  left: 50%;
  width: 391px;
  margin: 0 auto;
  background: #b1cfd4;
  height: 370px;
  z-index: 1;
}
#homepage-why-version-03 .mkdf-btn-solid {
  background: #ffffff !important;
  border-color: #ffffff !important;
  color: #008b9b !important;
}
#homepage-why-version-03 .mkdf-btn-solid:hover {
  background: transparent !important;
  border-color: #ffffff !important;
  color: #ffffff !important;
}
@media only screen and (max-width: 991px) {
  #homepage-why-version-03 .homepage-why-column-version-04 {
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 90px;
  }
  #homepage-why-version-03 .homepage-why-column-version-05 .wpb_wrapper {
    z-index: 3;
    position: relative;
    margin-right: 0px;
  }
  #homepage-why-version-03 .homepage-why-column-seperator {
    left: 0px;
    width: 100%;
  }
}
#homepage-what-can .mkdf-unordered-list ul > li {
  margin-bottom: 0px;
}
#homepage-what-can .wpb_wrapper .text {
  margin-bottom: 1em;
}
#homepage-what-can .wpb_wrapper .text:last-child {
  margin-bottom: 0em;
}
.custom-select {
  color: #008b9b;
  background: #ffffff;
  line-height: 24px;
  font-family: 'Open Sans', serif;
  font-size: 15px;
  font-weight: 400;
  text-transform: none;
  letter-spacing: 0px;
  border-width: 0px;
  border-radius: 0px;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 12px;
  margin-top: 0px;
  margin-bottom: 12px;
  width: 100%;
}
#homepage-copy-row .homepage-copy-column-01 {
  padding-right: 20px;
}
#homepage-copy-row .homepage-copy-column-02 {
  padding-left: 20px;
}
@media only screen and (max-width: 991px) {
  #homepage-copy-row .homepage-copy-column-01 {
    padding-right: 0px;
  }
  #homepage-copy-row .homepage-copy-column-02 {
    padding-left: 0px;
  }
}
.homepage-corporate-solutions-column {
  padding-left: 40px;
}
#homepage-corporate-solutions-row .mkdf-blog-boxes-info-section {
  display: none;
}
.homepage-corporate-solutions-column .slick-arrow {
  display: none !important;
}
.homepage-corporate-solutions-column .slick-dots {
  position: absolute;
  top: 50%;
  right: -25px;
  height: 150px;
  margin-top: -75px;
  width: 20px;
  padding: 0;
}
.homepage-corporate-solutions-column .mkdf-blog-list .mkdf-blog-list-item {
  height: 200px;
  position: relative;
  margin-bottom: 20px!important;
  overflow: hidden;
}
.homepage-corporate-solutions-column .mkdf-blog-list .mkdf-blog-list-item .mkdf-item-image {
  display: block;
}
.homepage-corporate-solutions-column .mkdf-blog-list .mkdf-blog-list-item .mkdf-item-image a {
  display: block;
}
.homepage-corporate-solutions-column .mkdf-blog-list .mkdf-blog-list-item .mkdf-item-image img {
  display: block;
  width: 100% !important;
}
.homepage-corporate-solutions-column .mkdf-blog-list .mkdf-blog-list-item .mkdf-item-text-holder {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 10px;
  padding-right: 10px;
}
.homepage-corporate-solutions-column .mkdf-blog-list .mkdf-blog-list-item .mkdf-item-text-holder:before {
  content: "";
  display: block;
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #8a6226;
  -moz-opacity: 0.6;
  -khtml-opacity: 0.6;
  -webkit-opacity: 0.6;
  opacity: 0.6;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
  filter: alpha(opacity=60);
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  -moz-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  -o-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}
.homepage-corporate-solutions-column .mkdf-blog-list .mkdf-blog-list-item .mkdf-item-text-holder a {
  color: #ffffff;
}
.homepage-corporate-solutions-column .mkdf-blog-list .mkdf-blog-list-item .mkdf-item-text-holder h4 {
  color: #ffffff;
  position: relative;
  z-index: 10;
  font-size: 12px;
  text-align: center;
}
.homepage-corporate-solutions-column .mkdf-blog-list .mkdf-blog-list-item .mkdf-item-text-holder .mkdf-item-info-section {
  display: none;
}
.homepage-corporate-solutions-column .mkdf-blog-list .mkdf-blog-list-item .mkdf-item-text-holder .mkdf-excerpt {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background: #ffffff;
  padding-top: 50px;
  margin: 0;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  -moz-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  -o-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}
.homepage-corporate-solutions-column .mkdf-blog-list .mkdf-blog-list-item:hover .mkdf-item-text-holder:before {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
}
.homepage-corporate-solutions-column .mkdf-blog-list .mkdf-blog-list-item:hover .mkdf-excerpt {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
}
@media only screen and (max-width: 991px) {
  .homepage-corporate-solutions-column {
    padding-left: 0;
  }
}
.offshore .mkdf-title .mkdf-title-holder {
  display: none;
}
.offshore .mkdf-btn.mkdf-btn-solid.custon-deploy-button.full-width {
  width: 200px;
}
.offshore .vc_custom_1455525831117 {
  padding-top: 30px!important;
}
.offshore #current_date_time {
  text-align: left;
}
.offshore h2 {
  font-size: 24px;
}
.dashboard {
  padding-bottom: 80px !important;
}
.dashboard .profile table.profile-fields tr {
  border: none;
}
.dashboard .profile table.profile-fields tr td.label {
  text-align: left;
}
.dashboard #change-avatar-personal-li {
  display: none;
}
.dashboard #profile-personal-li {
  display: none;
}
.dashboard #notifications-personal-li {
  display: none;
}
.dashboard .each-header,
.dashboard .each-content {
  display: inline-block;
  vertical-align: middle;
  width: 24%;
}
.dashboard .each-header {
  margin-bottom: 5px;
}
.dashboard .each-content {
  margin-bottom: 15px;
}
.dashboard .custom-submit-class {
  margin-top: 0px;
  min-width: 185px;
}
.dashboard #subnav ul li a {
  padding: 0px 20px!important;
  display: block;
  margin-right: 5px;
  color: #ffffff;
  background-color: #008b9b;
  font-size: 14px;
  line-height: 1.7em;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  text-transform: none;
  letter-spacing: 0px;
  border-width: 2px;
  border-radius: 30px;
  cursor: pointer;
  border: 2px solid #08c;
  border-color: #008b9b;
  display: inline-block;
  position: relative;
  outline: 0;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  -webkit-appearance: none;
}
.dashboard #subnav ul li a:hover {
  color: #008b9b;
  background-color: #ffffff;
  border-color: #ffffff;
}
.dashboard .message-search {
  display: block;
  margin-top: 30px!important;
}
.dashboard .message-search input[type=text] {
  width: 180px!important;
}
.dashboard .messages-options-nav {
  margin-top: 20px;
}
.dashboard ul.tabs {
  list-style: none;
  overflow: hidden;
}
.dashboard ul.tabs li {
  display: inline-block;
  margin-right: -2px;
}
.dashboard ul.tabs li a {
  display: block;
  background: #008b9b;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  text-align: center;
  min-width: 170px;
  color: #ffffff;
  padding-bottom: 6px;
  padding-top: 4px;
}
.dashboard ul.tabs li a.active {
  background: #363636;
}
.dashboard ul.tabs li a:hover {
  background: #363636;
}
.dashboard #tabs-content-seperator {
  background: #F7F7F7;
  top: -3px;
  position: relative;
}
.dashboard .profile-fields a {
  color: #363636;
  text-decoration: underline;
}
.dashboard #general-personal-li {
  display: none;
}
.dashboard form input[type=text],
.dashboard form input[type=email],
.dashboard form input[type=password],
.dashboard form select {
  width: 100%!important;
  padding: 15px!important;
  outline: 0;
  border: 1px solid transparent!important;
  color: #767676!important;
  font-size: 12px!important;
  line-height: 22px!important;
  font-family: "Open Sans", serif !important;
  font-style: normal!important;
  font-weight: 400!important;
  text-transform: none;
  letter-spacing: 0px;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  border-width: 1px!important;
  -webkit-border-radius: 6px !important;
  border-radius: 6px !important;
  -moz-background-clip: padding !important;
  -webkit-background-clip: padding-box !important;
  background-clip: padding-box !important;
  padding: 12px 24px 12px 24px!important;
  margin-top: 0px!important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color 0.2s ease-out;
  transition: border-color 0.2s ease-out;
  resize: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
}
.dashboard form input[type=submit] {
  color: #ffffff !important;
  background-color: #008b9b !important;
  font-size: 14px!important;
  line-height: 1.7em;
  height: 42px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  text-transform: none;
  letter-spacing: 0px;
  border-width: 2px!important;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  cursor: pointer!important;
  padding: 6px 30px!important;
  border: 2px solid #08c!important;
  border-color: #008b9b !important;
  display: inline-block;
  position: relative;
  outline: 0;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  -webkit-appearance: none;
  margin-top: 7px;
}
.dashboard form input[type=submit]:hover {
  color: #008b9b !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.dashboard form .field-visibility-settings-notoggle {
  display: none;
}
#buddypress div.item-list-tabs ul li.current a,
#buddypress div.item-list-tabs ul li.selected a {
  background-color: #363636;
  color: #ffffff;
  border-color: #363636;
}
#buddypress table.forum tr.alt td,
#buddypress table.messages-notices tr.alt td,
#buddypress table.notifications tr.alt td,
#buddypress table.notifications-settings tr.alt td,
#buddypress table.profile-fields tr.alt td,
#buddypress table.profile-settings tr.alt td,
#buddypress table.wp-profile-fields tr.alt td {
  background: #dddddd;
}
.circle-container {
  text-align: center;
  min-height: 400px;
  position: relative;
}
.circle-container .circle {
  background-color: #008b9b;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  width: 200px;
  height: 200px;
  display: inline-block;
}
.circle-container .circle h4 {
  font-size: 17px;
  color: #ffffff;
  text-align: center;
}
.circle-container .circle.circle-2 {
  position: relative;
  top: 200px;
}
.circle-container .arrow {
  display: inline-block;
  -webkit-transform: rotate(-50deg);
  -moz-transform: rotate(-50deg);
  -o-transform: rotate(-50deg);
  -ms-transform: rotate(-50deg);
  transform: rotate(-50deg);
}
.circle-container .arrow:nth-of-type(2) {
  -webkit-transform: rotate(50deg);
  -moz-transform: rotate(50deg);
  -o-transform: rotate(50deg);
  -ms-transform: rotate(50deg);
  transform: rotate(50deg);
}
.circle-container .arrow i {
  font-size: 30px;
}
.circle-container .v-align-table {
  display: table;
  width: 100%;
  height: 100%;
  text-align: center;
}
.circle-container .v-align-table .v-align-table-cell {
  display: table-cell;
  vertical-align: middle;
}
#user-company-details .each-detail {
  margin-bottom: 10px;
  padding: 10px;
}
#user-company-details .each-detail:nth-of-type(2n) {
  background-color: #dddddd;
}
#user-company-details .lbl-container {
  display: inline-block;
  width: 250px;
  vertical-align: top;
}
#user-company-details .lbl-container h5 {
  color: #363636;
  font-weight: 700;
  font-size: 14px;
}
#user-company-details .value-container {
  display: inline-block;
  vertical-align: top;
  max-width: 350px;
}
#user-company-details .value-container .each-value .value,
#user-company-details .value-container .each-value .amount {
  display: inline-block;
  margin-right: 30px;
}
#user-company-details-container {
  display: none;
}
#user-company-details-container .back-to-dashboard {
  text-align: right;
  display: block;
}
