.offshore {
	.mkdf-title .mkdf-title-holder {
		display: none;
	}
	.mkdf-btn.mkdf-btn-solid.custon-deploy-button.full-width {
		width: 200px;	
	}
	.vc_custom_1455525831117 {
		padding-top: 30px!important;
	}
	#current_date_time {
		text-align: left;
	}
	h2 {
		font-size: 24px;
	}
}

#copy-banner {
	display: none;
}

.dashboard {
	// padding-top: 70px;
    padding-bottom: 80px !important;
	#profile-edit-form {
		.bp-required-field-label {
			display: none;
		}
	}
    .profile-fields {
		a {
			color: #646464;
			// text-decoration: underline;
			cursor: default;
		}
	}

	.standard-form {
		textarea {
			width: 98.7%!important;
		}
	}

	ul.acfb-holder {
		li {
			float: none;
		}
	} 

    .profile {
    	table.profile-fields {
			tr {
				border: none;
				td.label {
					text-align: left;
				}
			}
    	}
    }

    #change-avatar-personal-li {
    	display: none;
    }
    #profile-personal-li {
    	display: none;
    }
    #notifications-personal-li {
    	display: none;
    }

	.each-header, .each-content {
		display: inline-block;
		vertical-align: middle;
		width: 24%;       
	}
	.each-header {
		margin-bottom: 5px;
	}
	.each-content {
		margin-bottom: 15px; 
	}
	.custom-submit-class {
		margin-top: 0px;
		min-width: 185px;
	}

	.disabled-btn {
		background-color: #DADADA!important;
	    color: #8D9394!important;
	    border: none!important;
	    cursor: default!important;
	}
	.delete-saved-company {
		color: #8D9394;
		margin-left: 10px;
		vertical-align: middle;
		i {
			font-size: 20px;
		}
		&:hover { 
			color: @dark-blue;
		}
	}	
	
	#subnav {
		ul {
			li {
				a {
					padding: 0px 20px!important;
					display: block;
					margin-right: 5px;

					color: #ffffff;
					background-color: @dark-blue;


					font-size: 14px;
					line-height: 1.7em;
					font-family: Montserrat;
					font-style: normal;
					font-weight: 700;
					text-transform: none;
					letter-spacing: 0px;
					border-width: 2px;
					border-radius: 30px;

					cursor: pointer;
					border: 2px solid #08c;
					border-color: @dark-blue;
					display: inline-block;
					position: relative;
					outline: 0;
					transition: color .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out;
					-webkit-appearance: none;

					&:hover{
						color: @dark-blue;
						background-color: @white;
						border-color: @white;
					}
				}
			}
		}
	}

	.message-search {
	    display: block;
    	margin-top: 30px!important;
    	input[type=text] {
    		width: 180px!important;
    	}
	}

	.messages-options-nav {
		margin-top: 20px;
	}

	ul.tabs {
		list-style: none;			
		overflow: hidden;
		li {
			display: inline-block;
    		margin-right: -2px;			
			a {				
				display: block;
				background: @dark-blue;
				.round(5px);
				text-align: center;
				min-width: 170px;
				color: @white;
				padding-bottom: 6px;
    			padding-top: 4px;
    			&.active {
    				background: @dark-grey;
    			}
    			&:hover {
    				background: @dark-grey;
    			}
			}
		}
	}

	#tabs-content-seperator {
		background: #F7F7F7;
	    top: -3px;
	    position: relative;
	}	

	#general-personal-li {
		display: none;
	}

	form {
		input[type=text],input[type=email],input[type=password], select {
			width: 100%!important;
			padding: 15px!important;
			outline: 0;			
			border: 1px solid transparent!important;						
			color: #767676!important;
			font-size: 12px!important;
			line-height: 22px!important;
			font-family: "Open Sans",serif!important;
			font-style: normal!important;
			font-weight: 400!important;
			text-transform: none;
			letter-spacing: 0px;
			background-color: rgba(255, 255, 255, 1)!important;
			border-color: rgba(255, 255, 255, 1)!important;
			border-width: 1px!important;
			.round(6px)!important;
			padding: 12px 24px 12px 24px!important;			
			margin-top: 0px!important;			

			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			-webkit-transition: border-color .2s ease-out;
			transition: border-color .2s ease-out;
			resize: none;

			-webkit-appearance: none;
			-moz-appearance:    none;
			appearance:         none;

			position: relative;			
		}
		input[type=submit] {
			color: @white!important;			
			background-color: @dark-blue!important;
			font-size: 14px!important;
			line-height: 1.7em;
			height: 42px;
			font-family: Montserrat;
			font-style: normal;
			font-weight: 700;
			text-transform: none;
			letter-spacing: 0px;
			border-width: 2px!important;
			.round(30px);

			cursor: pointer!important;
			padding: 6px 30px!important;
			border: 2px solid #08c!important;
			border-color: @dark-blue!important;
			display: inline-block;
			position: relative;
			outline: 0;
			transition: color .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out;
			-webkit-appearance: none;

			margin-top: 7px;

			&:hover{
				color: @dark-blue!important;
				background-color: @white!important;
				border-color: @white!important;
			}
		}
		.field-visibility-settings-notoggle {
			display: none;
		}
		select[disabled],input[disabled] {
		    background: #DADADA!important;
		    border: 0px!important;
		    color: #8D9394!important;
		}
	}

} 

#buddypress {
	div.item-list-tabs {
		ul {
			li {
				&#starred-personal-li {
					// display: none;
				}
				&#notices-personal-li {
					display: none;
				}
			}
		}
	}
	
	.thread-star {
		// display: none;
		.icon {
			display: none;
		}
	}	

	.thread-options {
		.button {
			border: none!important;
			background: none!important;
		    color: #08c;
			font-weight: 400;
			font-size: inherit;
			padding: 0px;
		}
	}

	table {
		tr {
			td.thread-info {
				p.thread-excerpt {
					display: none;
				}
			}
		}		
	} 

	table.profile-fields { 
		tr.alt {
			td {
				background: none!important;									
			} 
		}
		tr {
			&:nth-of-type(2n) {
				td {
					background: #dddddd!important;
				}
			}
		}
	} 
	.message-star-actions {
		display: none;
	}
}

#buddypress div.item-list-tabs ul li.current a, #buddypress div.item-list-tabs ul li.selected a {
	background-color: @dark-grey;
	color: @white;
	border-color: @dark-grey;
}

#buddypress table.forum tr.alt td, #buddypress table.messages-notices tr.alt td, #buddypress table.notifications tr.alt td, #buddypress table.notifications-settings tr.alt td, #buddypress table.profile-fields tr.alt td, #buddypress table.profile-settings tr.alt td, #buddypress table.wp-profile-fields tr.alt td {
	background: @grey-2;
}

.company-chart {
    min-height: 155px;
    width: 110%;
    margin-left: -20px;

	* {
	  -webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  box-sizing: border-box;
	  position: relative;
	}	
	ul {
	  padding: 0;
	  margin: 0;
	  list-style: none;   
	  position: relative;
	  text-align: center;
	  a {
			display: block;
			background: @dark-blue;
			// border: 4px solid @white;
			text-align: center;
			overflow: hidden;
			font-family: "Montserrat",sans-serif;
			font-size: 14px;
			text-decoration: none;
			font-weight: bold;
			color: @white;
			height: 130px;
			margin-bottom: -26px;
			box-shadow: 4px 4px 9px -4px rgba(0,0,0,0.4);
			-webkit-transition: all linear .1s;
			-moz-transition: all linear .1s;
			transition: all linear .1s;
			line-height: 17px;
			.round(100%);
			span {
				top: 45%;
				margin-top: -3px;
				display: block;	  
			}
		}
	}

	.big-company {
		&:after {
		    content: "";
		    display: block;
		    position: absolute;
		    width: 0;
		    height: 38px;
		    border-left: 4px solid #000;
		    z-index: 1;
		    top: 170px;
		    left: 50.3%;
		    margin-left: -4px;
		}
		> li {
			> a {
			  width: 37%;
			  height: 170px;
			  margin: 0 auto 60px auto;
			}
		}
	}

	.big-company-2 {
		> li {
			> a {
				height: 170px;
			}
		}
	}
		
	.big-company-3 {
		&:after {
			left: 50.2%;
			top: auto;
		    bottom: 186px;
		}
		> li {
			&:nth-of-type(1) {
				display: inline-block;
				width: 30%;
				margin-right: 20%;
				a {
					width: 100%;
				}
				.arrow {
					display: block;
				    position: absolute;
				    width: 0;
				    height: 116px;
				    border-left: 4px solid #000;
				    z-index: 1;
			        bottom: -36px;
					left: 81%;
				    margin-left: 0px;
				    .rotation(-40deg);
					span {
						position: absolute;
					    top: 26px;
    					right: 11px;
						.rotation(40deg);
					}
					// &:after {
					// 	content: "";
					// }
					.arrow-down {
					  	width: 0; 
					  	height: 0; 
				      	border-left: 10px solid transparent;
					    border-right: 10px solid transparent;
					    border-top: 10px solid black;
					    position: absolute;
				        right: -8px;
						bottom: -2px;
					    // .rotation(-36deg);
					}
				}				
			}
			&:nth-of-type(2) {
				display: inline-block;	
				width: 30%;
				a {
					width: 100%;
				}
				.arrow {
					display: block;
				    position: absolute;
				    width: 0;
				    height: 116px;
				    border-left: 4px solid #000;
				    z-index: 1;
				    bottom: -36px;
				    left: 18%;
				    margin-left: 0px;
				    .rotation(40deg);
					span {
						position: absolute;
					    top: -25px;
						left: 60px;
						.rotation(-40deg);
					}
					// &:after {
					// 	content: "";
					// }
					.arrow-down {
					  	width: 0; 
					  	height: 0; 
				      	border-left: 10px solid transparent;
					    border-right: 10px solid transparent;
					    border-top: 10px solid black;
					    position: absolute;
				        left: -12px;
						bottom: -3px;
					    // .rotation(36deg);
					}
				}				
			}
		}
	}

	.big-company-4 {
		&:after {
			left: 50.2%;
			top: auto;
		    bottom: 186px;
		}
		> li {
			&:nth-of-type(1) {
				width: 30%;
				margin-left: 10%;
				a {
					width: 100%;
				}
				.arrow {
					display: block;
				    position: absolute;
				    width: 0;
				    height: 62px;
				    border-left: 4px solid #000;
				    z-index: 1;
				    bottom: -62px;
    				left: 48%;
				    margin-left: 0px;
					// &:after {
					// 	content: "";
					    
					// }
				}
			}
			&:nth-of-type(2) {
				display: inline-block;
				width: 30%;
				margin-right: 20%;
				a {
					width: 100%;
				}
				.arrow {
					display: block;
				    position: absolute;
				    width: 0;
				    height: 116px;
				    border-left: 4px solid #000;
				    z-index: 1;
			        bottom: -36px;
					left: 81%;
				    margin-left: 0px;
				    .rotation(-40deg);
					span {
						position: absolute;
					    top: 26px;
    					right: 11px;
						.rotation(40deg);
					}
					// &:after {
					// 	content: "";
					// }
					.arrow-down {
					  	width: 0; 
					  	height: 0; 
				      	border-left: 10px solid transparent;
					    border-right: 10px solid transparent;
					    border-top: 10px solid black;
					    position: absolute;
				        right: -8px;
						bottom: -2px;
					    // .rotation(-36deg);
					}
				}				
			}
			&:nth-of-type(3) {
				display: inline-block;	
				width: 30%;
				a {
					width: 100%;
				}
				.arrow {
					display: block;
				    position: absolute;
				    width: 0;
				    height: 116px;
				    border-left: 4px solid #000;
				    z-index: 1;
				    bottom: -36px;
				    left: 18%;
				    margin-left: 0px;
				    .rotation(40deg);
					span {
						position: absolute;
					    top: 23px;
    					left: 14px;
						.rotation(-40deg);
					}
					// &:after {
					// 	content: "";
					// }
					.arrow-down {
					  	width: 0; 
					  	height: 0; 
				      	border-left: 10px solid transparent;
					    border-right: 10px solid transparent;
					    border-top: 10px solid black;
					    position: absolute;
				        left: -12px;
						bottom: -3px;
					    // .rotation(36deg);
					}
				}				
			}
		}
	}

	.big-company-5 {
		&:after {
			display: none!important;
		}
		> li {
			&:nth-of-type(1) {
				display: inline-block;
				width: 30%;
				margin-right: 20%;
				a {
					width: 100%;
				}
				.arrow {
			 	    display: block;
				    position: absolute;
				    width: 0;
				    height: 111px;
				    border-left: 4px solid #000;
				    z-index: 1;
				    bottom: -31px;
				    left: 82%;
				    margin-left: 0px;
				    .rotation(-40deg);
					span {
						position: absolute;
				        top: 36px;
						right: 15px;
						.rotation(40deg);
					}
					// &:after {
					// 	content: "";					   
					// }
					.arrow-down {
					  	width: 0; 
					  	height: 0; 
				      	border-left: 10px solid transparent;
					    border-right: 10px solid transparent;
					    border-top: 10px solid black;
					    position: absolute;
				        right: -8px;
    					bottom: -7px;
					    // .rotation(-36deg);
					}
				}				
			}
			&:nth-of-type(2) {
				display: inline-block;	
				width: 30%;
				a {
					width: 100%;
				}
				.arrow {
					display: block;
				    position: absolute;
				    width: 0;
				    height: 110px;
				    border-left: 4px solid #000;
				    z-index: 1;
			        bottom: -38px;
					left: 43px;
				    margin-left: 0px;
				    .rotation(40deg);
					span {
						position: absolute;
				        top: 25px;
						left: 7px;
						.rotation(-40deg);
					}
					// &:after {
					// 	content: "";					    
					// }
					.arrow-up {
					  	width: 0; 
					  	height: 0; 
				      	border-left: 10px solid transparent;
					    border-right: 10px solid transparent;
					    border-bottom: 10px solid black;
					    position: absolute;
				        left: -12px;
    					top: -9px;
					    // .rotation(36deg);
					}
				}				
			}
			ul.companies {
				&:after {
					display: none!important;
				}
				li.company {
					&:before {
						display: none!important;
					}
					.arrow {			
						display: block;
					    position: absolute;
					    width: 0;						    
					    border-left: 4px solid #000;
					    z-index: 1;						    
					    margin-left: 0px;						
						span {
							position: absolute;
						}
						.arrow-up {
						  	width: 0; 
						  	height: 0; 
					      	border-left: 10px solid transparent;
						    border-right: 10px solid transparent;
						    border-bottom: 10px solid black;						    
						}
						.arrow-down {
						  	width: 0; 
						  	height: 0; 
					      	border-left: 10px solid transparent;
						    border-right: 10px solid transparent;
						    border-top: 10px solid black;						    
						}
					}
					&:nth-of-type(1) {
						.arrow {
							height: 110px;
						    top: -98px;
						    left: 87%;
							.rotation(40deg);
							span {
						        top: 70px;
								left: -50px;
								.rotation(-40deg);
							}
							.arrow-down {
							    position: absolute;
							    right: -7px;
    							bottom: -9px;
							    // .rotation(36deg);
							}
						}
					}	
					&:nth-of-type(2) {
						.arrow {
							height: 50px;
					        top: -60px;
							left: 50%;
							span {
							    top: 10px;
							    left: 10px;
							}
							.arrow-down {
							    position: absolute;
							    right: -8px;
   							 	bottom: -10px;
							}
						}
					}	
					&:nth-of-type(3) {
						.arrow {
						    height: 112px;
						    top: -92px;
						    left: 17px;
							.rotation(-40deg);
							span {
							    top: 65px;
								left: 10px;
    							.rotation(40deg);
							}
							.arrow-up {
							    position: absolute;
						        right: -8px;
    							top: -4px;
							    // .rotation(-214deg);
							}
						}
					}	
				}
			}
		}
	}

	ul.companies {
      	margin: 0 auto;
	    text-align: center;
	    width: 100%;
	    padding-left: 0px;
	    margin-left: -9px;
	    &:after {
			content: "";
		    display: block;
		    position: absolute;
		    width: 52.2%;
		    height: 22px;
		    border-top: 4px solid #000;
		    margin: 0 auto;
		    top: -22px;
		    left: 25%;   	    
		}
	}
	ul.companies-2 {
		margin-left: 0px;
		&:after {
			content: "";
		    display: block;
		    position: absolute;
		    width: 72.2%;
		    height: 22px;
		    border-top: 4px solid #000;
		    margin: 0 auto;
		    top: -22px;
		    left: 15%;
		}
	}	
	ul.compaines-3 {
		&:after {
			content: "";
		    display: block;
		    position: absolute;
		    width: 52.2%;
		    height: 22px;
		    border-top: 4px solid #000;
		    margin: 0 auto;
		    top: -22px;
		    left: 25%;
		}
	}

	li.company {
	  	// border-left: 4px solid #000;
	    width: 23%;
	    display: inline-block;
	    margin-bottom: 60px;
        margin-left: 21px;
        &:before {
	      	content: "";
		    display: block;
		    position: absolute;
		    width: 0;
		    height: 22px;
		    border-left: 4px solid #000;
		    z-index: 1;
		    top: -22px;
		    left: 50%;
		    margin-left: -4px;
		}
		> a {
		  margin: 0 0 -26px -4px;
		  z-index: 1;
		}
	}

	li.company-2 {
		width: 21%;
	}
}

.circle-container {
	text-align: center;
	min-height: 320px;
	width: 110%;
	text-align: left;
	position: relative;
	.circle {
		background-color: @dark-blue;
	    // border: 4px solid #ffffff;
		box-shadow: 4px 4px 9px -4px rgba(0, 0, 0, 0.4);
		.round(100%);
		width: 215px;
    	height: 160px;
		display: inline-block;
		h4 {
			font-size: 17px;
			color: @white;
			text-align: center;
		}	
		&.circle-2 {
			position: relative;
			top: 160px;
		}
	}
	.arrow {
		display: inline-block;
		.rotation(-50deg);
		&:nth-of-type(2){
			.rotation(50deg);
		}
		i {
			font-size: 30px;
		}
	}
	.v-align-table {
		display: table;
		width: 100%;
		height: 100%;
		text-align: center;
		.v-align-table-cell {
			display: table-cell;
			vertical-align: middle;
		}
	}
}

#user-company-details {
	.each-detail {
		margin-bottom: 10px;
		padding: 10px;
		&:nth-of-type(2n) {
			background-color: #dddddd;						
		}
	}
	.lbl-container {
		display: inline-block; 
		width: 250px;
		vertical-align: top;		
		h5 {
			color: @dark-grey;
			font-weight: 700;
			font-size: 14px;
		}
	}
	.value-container {
		display: inline-block;
		vertical-align: top;
	    max-width: 350px;
		.each-value {
			.value, .amount {
				display: inline-block;
				margin-right: 30px;
			}
		}
	}
}

#user-company-details-container {
	display: none;
	.back-to-dashboard {
		text-align: right;
		display: block;
	}
}

// contact form

#company-address {
	
	font-family: Montserrat,sans-serif;
    // font-size: 16px;
	color: #363636;
	margin-top: 20px;
	
}

.wpcf7 {
	p {
		position: relative;
	}
}
.wpcf7-form-control-wrap {	
	&.email {
		position: static!important;
		span {
			position: absolute;
			left: 50px;
			top: 0px;
		}
	}
	.intl-tel-input {
	    width: 100%;
	    margin-bottom: 30px;
	    .flag-container {
	      padding: 0px;
	    }
	    .selected-flag {
	      width: 80px!important;
	      height: 48px;
	      padding-left: 24px;
	      .iti-arrow {
	        right: 18px;
	      }
	    }
	    input {
	      padding-left: 95px!important;
	    }
  	}  	
}

form.wpcf7-form {
	p {
		&:nth-of-type(10) {
			width: 30%;
		    display: inline-block;
			position: relative;
			vertical-align: middle;
		}		
	}
	.ajax-loader {
		bottom: 13px;
	    margin-left: 210px!important;
	}
	.wpcf7-response-output {
		display: inline-block;
	    width: 100%;
	    vertical-align: middle;
	}
}

.company-list, .solution-list {
	li {
		margin-bottom: 0px !important;
		a {
			color: @grey;
			text-decoration: underline;
		}
	}
}

#signup-page-wrapper {
	.vc_custom_1454399108366 {
		margin-left: 0px!important;
		margin-right: 0px!important;
	}
}