  #registration-page-form-1-2 {
	.new-incorporation {
		margin-top: 30px;
	}	
  }

  #homepage-core-services-01{
    .vc_col-sm-2{
      width: auto;
    }
    .mkdf-blog-box-whole-content{
      margin-bottom: 30px;
    }
  }

  	#homepage-why-version-03 {
		height: auto;
		padding-bottom: 25px!important;
		.homepage-why-column-version-04 {
			width: 100%;
			margin-bottom: 25px;
			ul {
				padding: 0 20px;
				li {
					list-style-position: outside;
				}
			}
		}	
		.homepage-why-column-seperator{
	      left: 0px!important;
	      // width: 100%!important;
	      width: 600px;
	    }		
	    .homepage-why-column-version-05 {
	    	width: 100%;
	    }				
	}
	.vc_custom_1455183542356 {
		background: none!important;
	}

  .home-page {
    .homepage-corporate-solutions-column {
      padding-left: 0px;
      padding-top: 40px;
      width: 100%;
    }      
    #homepage-icons-row {
      .mkdf-btn.mkdf-btn-solid.custon-deploy-button.full-width {
        margin: -60px auto 20px auto;
      } 
      .vc_column_container {
        &:nth-of-type(1), &:nth-of-type(2) {
          width: 100%;
        }
      }
    }
    #homepage-content-row {
      .vc_column_container {
        &:nth-of-type(1), &:nth-of-type(2) {
          width: 100%;
        }
      }
    }
  }
  
  #homepage-icons-row {
    .mkdf-btn.mkdf-btn-solid.custon-deploy-button.full-width {
      display: block;
    } 
    .wpb_wrapper {    
      .Deploy-button {
        display: block;
        margin: 0 auto;
        margin-bottom: 30px;
      }
    }
	 .owl-item {
  		&:before {
			right: -11px;
			top: 50px;
  		}
  	}
    .owl-item:nth-of-type(2) {
    	.mkdf-info-card-slider-item {
    		.mkdf-info-card-front-side {
    			.mkdf-info-card-front-side-content {
    				p {
    					width: auto;
    				}
    			}
    		}
    	}
    }  
  }

  .offshore-banking {
    .core-services-first-copy-column {
      padding-right: 0px;
    }
    .first-img {
      margin-top: 40px;   
      .vc_figure {
        width: 100%;
        .vc_single_image-wrapper {
          width: 100%;
          img {
            width: 100%;
          }
        }
      }       
    }
  }

  .stepwizard {
    .stepwizard-step {
      &:nth-of-type(2) {
        p {
          left: 0px;
        }        
      }
      p {
        width: 130px;
      }
    }
  }

#registration-page-form-1-1 {
	.custom-submit-class {
	  &.new-incorporation {
		margin-top: 30px;
	  }	  
	}
}

.home-page {
  .homepage-corporate-solutions-column {
    padding-left: 0px;
    margin-top: 40px;

    .mkdf-blog-list .mkdf-blog-list-item {
      height: 400px;
      .mkdf-item-text-holder .mkdf-excerpt {
        height: 400px;
      }
    }
  }
}
