  #homepage-core-services-01,
  #homepage-core-services-02{
    .mkdf-btn-small{
      display: none;
    }
  }

  .homepage-corporate-solutions-column .mkdf-blog-list .mkdf-blog-list-item {
  	height: 120px;
    margin-right: 25px;
    min-width: 125px;
  }

  .home-page {
    .homepage-corporate-solutions-column {
      padding-left: 0px!important;
      padding-top: 40px;
      width: 100%;
    }
    .mkdf-info-card-slider {
      margin-left: 40px;   
    }
  }

  #homepage-icons-row .owl-item:nth-of-type(2) .mkdf-info-card-slider-item .mkdf-info-card-front-side .mkdf-info-card-front-side-content p {
    width: 116%;
    margin-left: 0px;
  }

  .offshore-finance-company { 
    .scale(0.7);
    position: relative;
    left: -50%;
    margin: 0px;
    width: 200%;
    height: 450px;
  }
  
  .international-trading-company-figure-container {
    height: 220px;
    .international-trading-company-figure {
    	.scale(0.7);
      position: relative;
      left: -30%;
      margin: 0px;
      width: 200%;
      height: 250px;
    }
  }

  .group-holding-company-figure {
    .scale(0.7);
    position: relative;
    left: -50%;
    margin: 0px;
    width: 200%;
    height: 250px;
  }

  .investment-holding-company-figure {
    .scale(0.6);
    position: relative;
    left: -45%;
    margin: 0px;
    width: 200%;
    height: 250px;
  }

  .investing-in-real-estate-figure {
    .scale(0.7);
    position: relative;
    left: -48%;
    margin: 0px;
    width: 200%;
    height: 420px;
  }

  .investing-in-real-estate-figure-2 {
    .scale(0.7);
    position: relative;
    left: -48%;
    margin: 0px;
    width: 200%;
    height: 580px;
  }

  .dashboard {
    .each-header {
      &:nth-of-type(2) {
        width: 22%;  
      } 
      &:nth-of-type(3) {
        width: 22%;  
      }
      &:nth-of-type(4) {
        width: 28%;  
      }      
    }
    .each-content {
      &:nth-of-type(2) {
        width: 22%;  
      }
      &:nth-of-type(3) {
        width: 20%;  
      }
      &:nth-of-type(4) {
        width: 31%;  
      } 
    }
  }

  #registration-page-form-1-1 {
    .custom-submit-class {
      &.new-incorporation {
      margin-top: 30px;
      }   
    }
  }

  #registration-page-form-4 {
    #summaryshareholder {
      .upload-col-container {
        width: 20%;
      }
    }
    .field-container {
      .price {
        padding-top: 2px;
      }
    }
  }  

  footer .mkdf-two-columns-50-50 .mkdf-column {
    width: 50%!important;
  }

  .mkdf-carousel-holder .mkdf-carousel-item-holder .mkdf-carousel-first-image-holder {
    display: none;
  }
  .mkdf-carousel-holder .mkdf-carousel-item-holder .mkdf-carousel-second-image-holder {
    position: relative;
    .opacity(1);
  }

  .homepage-corporate-solutions-column {
    // display: none;
  }
  .homepage-why-column {
    width: 100%;
  }
  body {
    overflow: scroll;
    .mkdf-wrapper {
      overflow: scroll;
    }
  }

  .mkdf-mobile-header .mkdf-mobile-nav .mobile_arrow {
    line-height: 45px;
  }

  .mkdf-blog-carousel-boxes .mkdf-blog-boxes-item-holder-outer:hover {
    transform: none;
  }

  .homepage-corporate-solutions-column .mkdf-blog-list .mkdf-blog-list-item:hover .mkdf-excerpt {
    opacity: 0!important;
  }

  div.blockUI.blockMsg.blockPage {
    top: 32%!important;
  }