html, body {
	h1 {
		font-size: 35px;
    	line-height: 1.2em;
	}
	h3 {
		font-size: 17px;
	}
	body {
		font-size: 13px;
	}
	.mkdf-content {
		.mkdf-content-inner {
			> .mkdf-container {
				> .mkdf-container-inner {
					padding-top: 30px;
					.mkdf-section-inner {
						width: 100%;
					}
				}	
			}	
		}	
	}
	.hidden-xs, .hidden-sm {
		display: none;
	}
}