html, body {
	h1 {
		font-size: 35px;
    	line-height: 1.2em;
	}
	h3 {
		font-size: 17px;
	}
	body {
		font-size: 13px;
	}
	.mkdf-content {
		.mkdf-content-inner {
			> .mkdf-container {
				> .mkdf-container-inner {
					padding-top: 30px;
					.mkdf-section-inner {
						width: 100%;
					}
				}	
			}	
		}	
	}
	.hidden-xs, .hidden-sm {
		display: none;
	}

	.homepage-corporate-solutions-column {
	  padding-left: 0px;
	  margin-top: 40px;

	  .mkdf-blog-list .mkdf-blog-list-item {
	    height: 300px;
	    .mkdf-item-text-holder .mkdf-excerpt {
	      height: 300px;
	    }
	  }
	}
	.fit-text {
		margin: 0px;
	}
	.offshore-finance-company {
		.scale(0.6);
		position: relative;
	    left: -56%;
	    margin: 0px;
	    width: 220%;
	    height: 450px;
	    top: -50px;
	}
}