html h1,
body h1 {
  font-size: 35px;
  line-height: 1.2em;
}
html h3,
body h3 {
  font-size: 17px;
}
html body,
body body {
  font-size: 13px;
}
html .mkdf-content .mkdf-content-inner > .mkdf-container > .mkdf-container-inner,
body .mkdf-content .mkdf-content-inner > .mkdf-container > .mkdf-container-inner {
  padding-top: 0px;
}
