.offshore-banking {
	.core-services-first-copy-column {
		padding-right: 0px;
	}
	.first-img {
		margin-top: 40px;		
		.vc_figure {
			width: 100%;
			.vc_single_image-wrapper {
				width: 100%;
				img {
					width: 100%;
				}
			}
		}				
	}
}

.international-trading-company {	
	.circle-container {
		.arrow {
			.rotation(90deg)!important;	
			display: block;
		}
		.circle-2 {
			top: 5px!important;
		}
	}
}

.investment-holding-company, .group-holding-company {
	.company-chart {
		width: 100%;
		margin: 0 auto;
		ul {
			a {
				font-size: 12px;
				line-height: 14px;
			}
		}
	}
}

.dashboard {
	ul.tabs {
		li {
		    width: 30%;
		    a {
		    	min-width: auto!important;
		    	width: 100%!important;
		    }
		}
	}
	.custom-submit-class {
		padding: 0!important;
	}	
	.each-content {
		display: block!important;
		width: 100%!important;
	}
	.content-row.tbl-item {
		border-bottom: 1px solid @grey;
    	padding-bottom: 10px;
    	padding-top: 10px;
    	&:nth-of-type(1) {
    		padding-top: 0px;
    	}
	}
}

#buddypress {
	div.item-list-tabs#subnav {
		ul {
			li {
				width: 20%;
				a {
					padding: 0!important;
					text-align: center;
				}
			}
		}
	}
	div.message-search {
	    float: left;
		margin: 0px;
	}
}